/Atlas_Data
/Validation_Data_Small
/Info_Sheets
/Atlas_Data_BMI_Percentile
/Segmentation_Results/Atlas_Experiment01
/Segmentation_Results/Atlas_Experiment02
/Segmentation_Results/Atlas_Experiment23
/Validation_Results
/Segmentation_Results/Atlas_Experiment03
/Segmentation_Results/Atlas_Experiment04
/Segmentation_Results/Atlas_Experiment05
/Segmentation_Results/Atlas_Experiment06
/Segmentation_Results/Atlas_Experiment07
/Segmentation_Results/Atlas_Experiment08
/Segmentation_Results/Atlas_Experiment09
/Segmentation_Results/Atlas_Experiment10
/Segmentation_Results/Atlas_Experiment11
/Segmentation_Results/Atlas_Experiment12
/Segmentation_Results/Atlas_Experiment13
/Segmentation_Results/Atlas_Experiment14
/Segmentation_Results/Atlas_Experiment15
/Segmentation_Results/Atlas_Experiment16
/Segmentation_Results/Atlas_Experiment17
/Segmentation_Results/Atlas_Experiment18
/Segmentation_Results/Atlas_Experiment19
/Segmentation_Results/Atlas_Experiment20
/Segmentation_Results/Atlas_Experiment21
/Segmentation_Results/Atlas_Experiment22
/Segmentation_Results/Atlas_Experiment24
/Segmentation_Results/Atlas_Experiment25
/Segmentation_Results/Atlas_Experiment26
/Segmentation_Results/Atlas_Experiment27
/Segmentation_Results/Atlas_Experiment28
/Segmentation_Results/Atlas_Experiment29
/Segmentation_Results/Atlas_Experiment30
/Segmentation_Results/Atlas_Experiment31
/Segmentation_Results/Atlas_Experiment32
/Segmentation_Results/Atlas_Experiment33
/Segmentation_Results/Atlas_Experiment34
/Segmentation_Results/Atlas_Experiment35
/Segmentation_Results/Atlas_Experiment36
/Segmentation_Results/Atlas_Experiment37
/Segmentation_Results/Atlas_Experiment38
/Segmentation_Results/Atlas_Experiment39
/Segmentation_Results/Atlas_Experiment40
/Segmentation_Results/Atlas_Experiment41
/Segmentation_Results/Atlas_Experiment42
/Fused_Results
/Segmentation_Results
