/Images/Atlas_Data
/Validation_Data_Small
/Info_Sheets
/Images/Atlas_Data_BMI_Percentile
/Results/Segmentation_Results/Atlas_Experiment01
/Results/Segmentation_Results/Atlas_Experiment02
/Results/Segmentation_Results/Atlas_Experiment23
/Validation_Results
/Results/Segmentation_Results/Atlas_Experiment03
/Results/Segmentation_Results/Atlas_Experiment04
/Results/Segmentation_Results/Atlas_Experiment05
/Results/Segmentation_Results/Atlas_Experiment06
/Results/Segmentation_Results/Atlas_Experiment07
/Results/Segmentation_Results/Atlas_Experiment08
/Results/Segmentation_Results/Atlas_Experiment09
/Results/Segmentation_Results/Atlas_Experiment10
/Results/Segmentation_Results/Atlas_Experiment11
/Results/Segmentation_Results/Atlas_Experiment12
/Results/Segmentation_Results/Atlas_Experiment13
/Results/Segmentation_Results/Atlas_Experiment14
/Results/Segmentation_Results/Atlas_Experiment15
/Results/Segmentation_Results/Atlas_Experiment16
/Results/Segmentation_Results/Atlas_Experiment17
/Results/Segmentation_Results/Atlas_Experiment18
/Results/Segmentation_Results/Atlas_Experiment19
/Results/Segmentation_Results/Atlas_Experiment20
/Results/Segmentation_Results/Atlas_Experiment21
/Results/Segmentation_Results/Atlas_Experiment22
/Results/Segmentation_Results/Atlas_Experiment24
/Results/Segmentation_Results/Atlas_Experiment25
/Results/Segmentation_Results/Atlas_Experiment26
/Results/Segmentation_Results/Atlas_Experiment27
/Results/Segmentation_Results/Atlas_Experiment28
/Results/Segmentation_Results/Atlas_Experiment29
/Results/Segmentation_Results/Atlas_Experiment30
/Results/Segmentation_Results/Atlas_Experiment31
/Results/Segmentation_Results/Atlas_Experiment32
/Results/Segmentation_Results/Atlas_Experiment33
/Results/Segmentation_Results/Atlas_Experiment34
/Results/Segmentation_Results/Atlas_Experiment35
/Results/Segmentation_Results/Atlas_Experiment36
/Results/Segmentation_Results/Atlas_Experiment37
/Results/Segmentation_Results/Atlas_Experiment38
/Results/Segmentation_Results/Atlas_Experiment39
/Results/Segmentation_Results/Atlas_Experiment40
/Results/Segmentation_Results/Atlas_Experiment41
/Results/Segmentation_Results/Atlas_Experiment42
/Fused_Results
/Results/Segmentation_Results
/ML_Pretext_All_Filtered
/SSL_Pretext
/ML_Downstream
/SSL_Downstream
/Results
/Images
